/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.entry .login-content {
	padding: 60px 0;
}

.login-bottom-links {
	word-wrap: break-word;
}

.login-page .login-content .form-status {
	display: block;
}

.login-page .login-content .form-status.success {
	background: #00a651;
}

.login-page .login-content .form-status.success h3 {
	background: #008f45;
}

.sidebar-collapse, .sidebar-mobile-menu {
	margin-top: 11px;
}
